html, body {
	Width:1920px;  											/* Set to your channel's resolution */
	Height:1080px;											/* Set to your channel's resolution */
	Margin:0;												/* Use all available space */
	Padding:0;											/* Use all available space */
	Background:transparent;									/* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
	Overflow:hidden;										/* Hide any overflowing elements - to disable scollbars */
	-webkit-font-smoothing:antialiased !important;	 		/* Set aliasing of fonts - possible options: none, antialiased,  subpixel-antialiased */
}
@font-face {
	font-family: Frutiger-Bold;
	src: url('../fonts/HdMFrutigerNextPro-Bold.otf');
}
.upper_white_box {
  width: 10px;
  top: 125px;
  left: 450px;
  height: 0px;
  display:inline-block;
  position:relative;
  background-color:#fff;
  z-index: 20;
}
.upper_second_box {
  width: 0px;
  top: 50px;
  left: 0px;
  height:65px;
  padding-top: 10px; 
  display:inline-block;
  position:relative;
  background-color:rgb(229, 20, 51);
  z-index: 10;
  overflow: hidden;

  }
.lower_white_box {
  position: relative;
  width: auto;
  background-color:#fff;
  top: 90px;
  left: 4px;
  height: 0px;
  overflow: hidden;
  z-index: 5;

}
.name{
  width: auto;
  white-space: nowrap;
  position: absolute;
  left: 550px;
  font-family: Frutiger-Bold;
  font-size: 50px;
  color: #fff;
  z-index: 15;
}
.title{
  width: auto;
  white-space: nowrap;
  position: absolute;
  left: 20px;
  top: 45px;
  font-family: Frutiger-Bold;
  font-size: 30px;
  color: rgb(229, 20, 51);
  z-index: 8;
}

.logo {
  height: 200px;
  width: 200px;
  left: 120px;
  top: 0px; 

}
.debug {
  position:absolute;
  top:0px;
  left: 0px;
}

.container_bb {
  position: fixed;
  top: 850px;
  left: 300px;
  width: 1420px;
  height:200px; 
  margin: 0px; 

}	

.logo{

   width: 200px; 
   height: 200px;
   opacity: 0;
   background-image: url("../img/logo-hdm.png"); 
   background-repeat: no-repeat; 
   position: fixed; 
   left: 40px; 
   top: 855px; 
}